section[id="section-hunter"]{
    width: 90%;
    height: 100vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 100px;
}