.header-navigation {
    // width: 100%;
    // min-height: 65px;
    // position: fixed;
    // margin: 0 auto;
    // background: transparent;
    // display: flex;
    // flex-flow: row nowrap;
    // align-items: center;
    // justify-content: space-between;
    // padding: 1rem 1.25rem;
    // // background-color: #ade8f483;
    // backdrop-filter: blur(5px);
    // background: rgba($color: #fff, $alpha: 0.3);


    // OCULTAMOS EL checkbox Y EL nav ------- -------
    input[type="checkbox"] {
        display: none;
    }

    // MENU DE CIERRE Y APERTURA ------- -------
    label.menu {
        width: 45px;
        // height: 40px;
        position: fixed;
        top: 20px;
        right: 40px;
        cursor: pointer;
        z-index: 2;

        .caja1,
        .caja2,
        .caja3 {
            width: 100%;
            height: 5px;
            background: var(--gradient-nav);
            position: relative;
            transition: all 400ms ease;
        }

        .caja2 {
            width: 70%;
            top: 11px;
            left: 50%;
        }

        .caja3 {
            width: 100%;
            top: 22px;
        }
    }

    // ANIMACIÓN CIERRE Y APERTURA ------- -------
    input[type="checkbox"]:checked~label.menu {
        top: 25px;
        position: fixed;

        .caja1 {
            transform: rotate(135deg);
            top: 10px;
        }

        .caja2 {
            opacity: 0;
            left: -70%;
        }

        .caja3 {
            transform: rotate(-135deg);
            top: 0px;
        }
    }

    // CONFIGURACIÓN DEL MENU nav
    input[type="checkbox"]:checked~nav {
        left: 0%;
    }

    nav {
        width: 100%;
        height: 75%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 100%;
        backdrop-filter: blur(5px);
        background: rgba($color: #355070, $alpha: 0.3);
        transition: all 400ms ease;

        ul {
            width: 100%;
            height: 75%;
            margin-top: 2.5rem;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-around;

            li {
                a {
                    color: var(--gray-color);
                    font-weight: 500;
                }

                .link {
                    // color: #41a9c0;
                    color: var(--black-color);
                    color: #f2f2f2;
                    font-size: 1.625rem;
                    font-weight: 500;
                }

                a:active {
                    background: #d3c9c9a2;
                }
            }
        }
    }

    @media screen and (min-width:735px) {
        label {
            display: none;
        }

        nav {
            // position: relative;
            position: fixed;
            top: -20px;
            left: 65vw;
            // left: 0;
            padding: 0 0.625rem;
            width: auto;
            height: auto;
            backdrop-filter: blur(0px);    
            background: transparent;
            color: #355070;
            

            @media screen and (max-width:900px) {
                left: 55vw;
            }

            ul {
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                gap: 1.875em;

                li {
                    padding: 0px;
                    margin-bottom: 0px;
                    .link {
                        background: linear-gradient(rgb(70, 70, 255),rgb(29, 146, 255));
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                    a {
                        transition: all 500ms ease;
                    }
                }
            }
        }

    }
}